:root {
  --black-color: #212121;
  --gray-color: #757575;
  --withe-color: #fff;
  --blue-color: #2196f3;
  --primary-font-stack: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: var(--black-color);
  font-family: var(--primary-font-stack);
  font-size: 14px;
  font-style: normal;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a,
.button {
  cursor: pointer;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
/*Панэль навигации*/
.header {
  border-bottom: #f5f4fa 1px solid;
  margin-bottom: 110px;
}
.header-nav {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.5px;
  color: var(--blue-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header .logo-span {
  color: var(--black-color);
}

.footer .logo-span {
  color: var(--withe-color);
}

.link {
  color: var(--black-color);
}
.link:hover,
.link:focus,
.contacts__link:focus,
.contacts__link:hover {
  color: var(--blue-color);
}
.contacts__link {
  color: var(--gray-color);
}
.header-nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-nav__list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-left: 92px;
  list-style-type: none;
}
.header-nav__item:not(:first-child) {
  margin-left: 50px;
}
.header-nav__contacts {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  margin: 0;
  margin-left: auto;
  padding: 32px 0;
}
.naviphone {
  margin-left: 48px;
}

ul li {
  list-style-type: none;
}
/* Галерея навигация*/

/* gallery */

/* .gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 30px;
}

.gallery li {
  max-width: 370px;
  width: 100%;
}

.gallery__img {
  object-fit: cover;
  display: block;
  width: 100%;
}
.gallery-description {
  border-width: 1px;
  border-style: solid;
  border-color: #eee;
  padding: 20px;
  box-sizing: border-box;
}
.gallery__title {
}
.gallery__caption {
} */
/* футєр */
.footer {
  background-color: #2f303a;
}
.foot-block {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.foot-adress {
  color: var(--withe-color);
}
.foot-mail,
.foot-number {
  color: rgba(255, 255, 255, 0.6);
}
.address p {
  font-style: normal;
  line-height: 1.71;
  margin: 0;
}
.footer .logo,
.address {
  padding: 0;
  margin-bottom: 20px;
}
.address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 9px;
  margin: 0;
}
