body {
  background-color: aqua;
}
@media screen and (min-width: 800px) {
  body {
    background-color: orange``;
  }
}
.tride {
  width: 800px;
  height: 160px;
  border: black solid 1px;
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  perspective: 500px;
}
.tride-item {
  width: 200px;
  height: 150px;
  margin: 5px;
  /* background-color: aquamarine; */
  padding: 0;
  transform: rotate(0);
  transition: transform 800ms linear;
  animation-name: move;
  animation-duration: 5000ms;
  animation-timing-function: linear;
  /* animation-delay: 2000ms; */
  animation-iteration-count: infinite;
}
.tride-item:hover {
  transform: rotatex(45deg);
}
@keyframes move {
  0% {
    background-color: blue;
  }
  33% {
    background-color: brown;
  }
  66% {
    background-color: antiquewhite;
  }
  100% {
    background-color: black;
  }
}

.spin {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  margin-left: auto;
  margin-right: auto;

  animation-name: spin;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes spin {
  0% {
    transform: rotatez(0deg);
  }
  100% {
    transform: rotatez(360deg);
  }
}
