:root {
  --black-color: #212121;
}
body {
  position: relative;
  width: 1600px;
  height: 2349px;

  background: #ffffff;
  color: var(--black-color);
}
header,
.work {
  background-color: #ffffff;
}
.logo a {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}
header {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
}
.navi1 a,
.navi2 a,
.navi3 a,
.navimail a,
.naviphone a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.navi1 a,
.navi2 a,
.navi3 a {
  color: var(--black-color);
}
.navimail a,
.naviphone a {
  color: #757575;
}

.navi1 a:hover,
.navimail a:hover,
.navi1 a:focus,
.navimail a:focus {
  color: #2196f3;
}
.navi1 {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
}
.navi2 {
  position: absolute;
  width: 77px;
  height: 16px;
  left: 552px;
  top: 32px;
}
.navi3 {
  position: absolute;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;
}
.navimail {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
}
.naviphone {
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;
}
.titlelist {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
}
.titlelist,
footer {
  background-color: #2f303a;
}

.titlelist h1 {
  color: #ffffff;
}
.commands {
  background-color: #f5f4fa;
}
