:root {
  --black-color: #212121;
  --gray-color: #757575;
  --withe-color: #fff;
  --blue-color: #2196f3;
  --primary-font-stack: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: var(--black-color);
  font-family: var(--primary-font-stack);
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.5px;
  margin: 0 auto;
  width: 1600px;
}
img {
  display: block;
  max-width: 100%;
}
a,
.button {
  cursor: pointer;
  text-decoration: none;
}

/*Панэль навигации*/
.header {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  border: #f5f4fa 1px solid;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.5px;
  color: var(--blue-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header .logo-span {
  color: var(--black-color);
}

.footer .logo-span {
  color: var(--withe-color);
}

.link {
  color: var(--black-color);
}
.link:hover,
.link:focus,
.contacts__link:focus,
.contacts__link:hover {
  color: var(--blue-color);
}
.contacts__link {
  color: var(--gray-color);
}
.header-nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.3px;
  display: flex;
  justify-content: space-between;
}
.header-nav__list {
  display: flex;
  list-style-type: none;
  padding: 32px 0;
  margin: auto 333px auto 93px;
}
.header-nav__item:not(:first-child) {
  margin-left: 50px;
}
.header-nav__contacts {
  display: flex;
  list-style-type: none;
  padding: 32px 0;
  margin: 0;
}
.naviphone {
  margin-left: 48px;
}

/*баннер заказать*/
.titlelist {
  color: var(--withe-color);
  min-height: 600px;
  background-image: url(../images/banner.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titlelist__title {
  width: 696px;
  margin-top: 0px;
  margin-bottom: 30px;
  letter-spacing: 3.6px;
}
.titlelist .button {
  background-color: var(--blue-color);
  color: var(--withe-color);
}
.button {
  font-family: var(--primary-font-stack);
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px 32px;

  border: 0;
  border-radius: 4px;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.button,
h2,
.card__title {
  font-weight: 700;
}
/*Особенности */
.feature {
  margin: 94px auto;
}
.feature-list {
  width: 1170px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0px;
}
.feature-card {
  width: 270px;
  padding: 0px;
}
.feature-card:not(:last-child) {
  margin-right: 30px;
}
.card__text,
.team-card__text {
  color: var(--gray-color);
}
.card__title {
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  margin: 0px;
}
.card__text {
  margin-top: 10px;
  margin-bottom: 0px;
}
.card__text,
.team-card__text,
address {
  font-weight: 400;
}
.card__text {
  line-height: 1.71;
}
/* работа */
.work {
  margin: 94px auto;
}
.work-title,
.commands-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.work {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 94px;
}
.work-images {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
/*Команда*/

.commands {
  font-size: 16px;
  line-height: 1.1875;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 94px 0;
  background-color: #f5f4fa;
}
.commands-title-name {
  font-weight: 500;
}
.commands-foto {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.commands-foto li {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.foto-team {
  width: 260px;
}
/*Футэр*/

.footer {
  background-color: #2f303a;
}

.foot-adress {
  color: var(--withe-color);
}
.foot-mail,
.foot-number {
  color: rgba(255, 255, 255, 0.6);
}
.address p {
  font-style: normal;
  line-height: 1.71;
  margin: 0;
}
.footer .logo,
.address {
  margin-left: 215px;
  padding: 0;
}
.foot-block {
  padding: 60px 0;
}
.address {
  margin-top: 20px;
}
.address p:not(:last-child) {
  margin-bottom: 9px;
}
