:root {
  --black-color: #212121;
  --gray-color: #757575;
  --withe-color: #fff;
  --blue-color: #2196f3;
  --hover-blue-color: #188ce8;
  --primary-font-stack: "Roboto", sans-serif;
  --primary-transition: 0.3s all;
}

html {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: var(--black-color);
  font-family: var(--primary-font-stack);
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.5px;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
}
a,
.button {
  cursor: pointer;
  text-decoration: none;
}

/*Панэль навигации*/
.header {
  border: #f5f4fa 1px solid;
}

.header-nav {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.5px;
  color: var(--blue-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header .logo-span {
  color: var(--black-color);
}

.footer .logo-span {
  color: var(--withe-color);
}

.link {
  color: var(--black-color);
}

.header-nav__contacts-icon svg {
  width: 100%;
  height: 100%;
  color: var(--gray-color);
}
.link:hover,
.link:focus,
.header-nav__contacts li:hover .contacts__link,
.header-nav__contacts li:focus .contacts__link,
.header-nav__contacts li:hover svg,
.header-nav__contacts li:focus svg {
  color: var(--blue-color);
}
.contacts__link {
  color: var(--gray-color);
  margin-left: 10px;
}
.header-nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-nav__list {
  display: flex;
  list-style-type: none;
  /* padding: 32px 0; */
  gap: 50px; /* отсутупы внтури контейнера */
  margin: 0;
  margin-left: 92px;
}
/* .header-nav__item:not(:first-child) {
   margin-left: 50px; 
} */
.header-nav__item .link {
  padding: 32px 0;
}

.header-nav__contacts {
  display: flex;
  list-style-type: none;
  padding: 32px 0;
  margin: 0;
  margin-left: auto;
}

.header-nav__contacts-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 12px;
  cursor: pointer;
}

.header-nav__contacts-icon svg,
.navimail,
.naviphone {
  display: flex;
  align-items: center;
}

.naviphone {
  margin-left: 48px;
}
/* .nav-icon-mail {
  background-image: url(../images/contacts/envelope.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 12px;
  cursor: pointer;
}
.nav-icon-phone {
  background-image: url(../images/contacts/smartphone.svg);
  background-repeat: no-repeat;
  width: 10px;
  height: 16px;
  cursor: pointer;
} */
/*баннер заказать*/
.titlelist {
  color: var(--withe-color);
  min-height: 600px;
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  margin-bottom: 94px;
}
.titlelist::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(47, 48, 58, 0.6);
  z-index: -1;
}
.titlelist__title {
  width: 696px;
  margin-top: 0px;
  margin-bottom: 30px;
  letter-spacing: 3.6px;
}
.titlelist .button {
  background-color: var(--blue-color);
  color: var(--withe-color);
}

.titlelist .button:hover,
.titlelist:focus {
  background-color: var(--hover-blue-color);
  transition: var(--primary-transition);
}
.button {
  font-family: var(--primary-font-stack);
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px 32px;

  border: 0;
  border-radius: 4px;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.button,
h2,
.card__title {
  font-weight: 700;
}
/*Особенности */
.feature {
  margin-bottom: 94px;
}
.feature-list {
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0px;
  gap: 30px;
}
.feature-card {
  max-width: 270px;
  width: 100%;
  padding: 0px;
}

.card__text,
.team-card__text {
  color: var(--gray-color);
}
.card__title {
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}
.card__text {
  margin: 0;
}

.card__text,
.team-card__text,
.address {
  font-weight: 400;
}
.card__text {
  line-height: 1.71;
}

.plate,
.time,
.notebook,
.austronavt {
  background-repeat: no-repeat;
  background-position: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.plate {
  background-image: url(../images/feature/Group\ 1.svg);
}
.time {
  background-image: url(../images/feature/Group\ 2.svg);
}
.notebook {
  background-image: url(../images/feature/Group\ 3.svg);
}
.austronavt {
  background-image: url(../images/feature/Group\ 4.svg);
}
/* работа */
.work {
  margin-bottom: 94px;
}
.work-title,
.commands-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.work-images {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  gap: 30px;
  padding: 0px;
}

.work-img__item {
  position: relative;
  max-width: 370px;
  width: 100%;
  overflow: hidden;
}

.work-img__item img {
  object-fit: cover;
  height: 100%;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: var(--primary-transition);
  /* transform: translateY(100%);
  transition: transform 250ms; */
}

.work-img__item:hover .overlay {
  opacity: 0.5;
  /* transform: translate(0); */
}
.work-img__text {
  color: var(--withe-color);
  margin: 0;
}
.work-icon {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  position: absolute;
  transform: translatex(-100%);
  transition: transform 400ms 300ms;
}
.work-img__item:hover .work-icon {
  transform: translateX(50%);
}

/*Команда*/

.commands {
  font-size: 16px;
  line-height: 1.1875;
  align-items: center;
  padding: 94px 0;
  background-color: #f5f4fa;
}

.commands-title-name {
  font-weight: 500;
}
.commands-photo {
  width: 1170px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  text-align: center;
  list-style-type: none;
  padding: 0px;
  margin: 0 auto;
}

.commands-photo li {
  background-color: #fff;
  border-radius: 4px;
}

.commands-photo li:not(.commands-icon__item) {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.photo-team {
  max-width: 270px;
  width: 100%;
}
.commands-icon {
  display: flex;
  justify-content: flex-start;
  width: 206px;
  height: 44px;
  list-style-type: none;
  padding: 0;
  margin: 0 auto 30px auto;
  gap: 10px;
}

.commands-icon__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.3s all;
}

.commands-icon__item svg {
  width: 100%;
  height: 100%;
  color: #afb1b8;
  transition: inherit;
}

.commands-icon__item a:hover {
  background-color: var(--blue-color);
}
.commands-icon__item a:hover svg {
  color: #fff;
}

.icon-insta,
.icon-twit,
.icon-fb,
.icon-linkid {
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;
}
.icon-insta:hover,
.icon-twit:hover,
.icon-fb:hover,
.icon-linkid:hover {
  background-repeat: no-repeat;
  background-position: center;
  height: 44px;
  width: 44px;
  cursor: pointer;
}
.icon-insta {
  background-image: url(../images/icons/instagram.svg);
}
.icon-insta:hover {
  background-image: url(../images/icons/Ellipse.svg);
}
.icon-twit {
  background-image: url(../images/icons/twitter.svg);
}
.icon-twit:hover {
  background-image: url(../images/icons/Ellipse2.svg);
}
.icon-fb {
  background-image: url(../images/icons/facebook.svg);
}
.icon-fb:hover {
  background-image: url(../images/icons/Ellipse3.svg);
}
.icon-linkid {
  background-image: url(../images/icons/linkedin.svg);
}
.icon-linkid:hover {
  background-image: url(../images/icons/Ellipse4.svg);
}
/* постоянные клиенты */
.regular {
  padding-top: 94px;
}
.regular__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.regular__list {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  width: 1170px;
  align-items: center;
  padding: 0px;
  margin: 0 auto 94px auto;
  gap: 30px;
}

.regular-list__item svg {
  color: #afb1b8;
  transition: 0.6s all;
  width: 170px;
  height: 92px;
}

.regular-list__item {
  border: 1px solid #afb1b8;
}

.regular-list__item:hover {
  border-color: #2196f3;
}
.regular-list__item:hover svg {
  color: #2196f3;
}

/*Футэр*/

.footer {
  background-color: #2f303a;
}
.foot-block {
  max-width: 230px;
  width: 100%;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.foot-adress {
  color: var(--withe-color);
}
.foot-mail,
.foot-number {
  color: rgba(255, 255, 255, 0.6);
}
.address p {
  font-style: normal;
  line-height: 1.71;
  margin: 0;
}
.footer .logo,
.address {
  padding: 0;
  margin-bottom: 20px;
}
.address {
  max-width: 232px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 9px;
  margin: 0;
}
.foot-box {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  padding: 0;
}
.foot-icon {
  max-width: 206px;
  width: 100%;
  padding: 60px 0;
  margin-left: 70px;
}
.foot-icon h2 {
  color: var(--withe-color);
  font-family: var(--primary-font-stack);
  font-size: 14px;
  font-weight: 700;
  margin: 12px auto 20px auto;
  line-height: 1.17;
  letter-spacing: 0.4px;
  font-style: normal;
  text-transform: uppercase;
}
