:root {
  --black-color: #212121;
  --gray-color: #757575;
  --withe-color: #fff;
  --blue-color: #2196f3;
  --hover-blue-color: #188ce8;
  --primary-font-stack: "Roboto", sans-serif;
  --primary-transition: 0.3s all;
}

html {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: var(--black-color);
  font-family: var(--primary-font-stack);
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.5px;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
}
a,
.button {
  cursor: pointer;
  text-decoration: none;
  transition: var();
}

/*Панэль навигации*/
.header {
  margin-right: auto;
  margin-left: auto;
  border: #f5f4fa 1px solid;
}

.header-nav {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.5px;
  color: var(--blue-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header .logo-span {
  color: var(--black-color);
}

.footer .logo-span {
  color: var(--withe-color);
}

.link {
  color: var(--black-color);
}
.link:hover,
.link:focus,
.contacts__link:focus,
.contacts__link:hover {
  color: var(--blue-color);
}
.contacts__link {
  color: var(--gray-color);
}
.header-nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-nav__list {
  display: flex;
  list-style-type: none;
  /* padding: 32px 0; */
  gap: 50px; /* отсутупы внтури контейнера */
  margin: 0;
  margin-left: 90px;
}
/* .header-nav__item:not(:first-child) {
   margin-left: 50px; 
} */
.header-nav__item .link {
  padding: 32px 0;
}

.header-nav__contacts {
  display: flex;
  list-style-type: none;
  padding: 32px 0;
  margin: 0;
  margin-left: auto;
}
.naviphone {
  margin-left: 48px;
}

/*баннер заказать*/
.titlelist {
  color: var(--withe-color);
  min-height: 600px;
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  margin-bottom: 94px;
}
.titlelist:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(47, 48, 58, 0.6);
  z-index: -1;
}
.titlelist__title {
  width: 696px;
  margin-top: 0px;
  margin-bottom: 30px;
  letter-spacing: 3.6px;
}
.titlelist .button {
  background-color: var(--blue-color);
  color: var(--withe-color);
}

.titlelist .button:hover,
.titlelist:focus {
  background-color: var(--hover-blue-color);
  transition: var(--primary-transition);
}
.button {
  font-family: var(--primary-font-stack);
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px 32px;

  border: 0;
  border-radius: 4px;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.button,
h2,
.card__title {
  font-weight: 700;
}
/*Особенности */
.feature {
  margin-bottom: 94px;
}
.feature-list {
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0px;
  gap: 30px;
}
.feature-card {
  max-width: 270px;
  width: 100%;
  padding: 0px;
}

.card__text,
.team-card__text {
  color: var(--gray-color);
}
.card__title {
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}
.card__text {
  margin: 0;
}

.card__text,
.team-card__text,
.address {
  font-weight: 400;
}
.card__text {
  line-height: 1.71;
}
/* работа */
.work {
  margin-bottom: 94px;
}
.work-title,
.commands-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.work-images {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  gap: 30px;
  padding: 0px;
}

.work-images li {
  max-width: 370px;
  width: 100%;
}

.work-images li img {
  object-fit: cover;
  height: 100%;
}
/*Команда*/

.commands {
  font-size: 16px;
  line-height: 1.1875;
  align-items: center;
  padding: 94px 0;
  background-color: #f5f4fa;
}

.commands-title-name {
  font-weight: 500;
}
.commands-photo {
  width: 1170px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  text-align: center;
  list-style-type: none;
  padding: 0px;
  margin: 0 auto;
}

.commands-photo li {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.photo-team {
  max-width: 270px;
  width: 100%;
}
/*Футэр*/

.footer {
  background-color: #2f303a;
}
.foot-block {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.foot-adress {
  color: var(--withe-color);
}
.foot-mail,
.foot-number {
  color: rgba(255, 255, 255, 0.6);
}
.address p {
  font-style: normal;
  line-height: 1.71;
  margin: 0;
}
.footer .logo,
.address {
  padding: 0;
  margin-bottom: 20px;
}
.address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 9px;
  margin: 0;
}
